<div class="card">
    <div class="card-header">
        <button onClick="addProduct()" class="btn btn-success btn-sm float-right">Add</button>
        <h4>Members List</h4>
    </div>
    <div class="card-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Subscription startdate</th>
                    <th>Subscription end date</th>
                    <th>Subscription amount </th>

                </tr>
            </thead>
            <tbody>
                <!-- to-do -->
                <button onClick()="onEdit()" style="margin-left: 10px;" class="btn btn-warning btn-sm">Edit</button>
                <button onClick()="onDelete()" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
            </tbody>
        </table>
    </div>
</div>